/* # Comentários
Não irá afetar seu código
Ajuda lembrar blocos de codigos
Deixa dicas para leitura 
Ajuda outros a entenderem
Nunca esqueça de fechar um comentário aberto
Pode sr usado para desabilitar partes do seu código


Anatomia
Selector: seleciona onde será realizado o ajuste
Declaration: todo o código em si que determina a especificação do que será realizado 
Propertiers: cor, tamanho da letra, plano de fundo
Property Value: a especificação do propertiers
*/

h1 {
    color: red;
    font-size: 60px;
    background: greenyellow;
}


/*
# Selectors
    Conecta um elemento HTML com o CSS
## Tipos
    Global selector '*'
    Element/ Type selector 'h1, h2, p, div'
    ID selector '#box, #container'
    Class selector'.red, .m-4'
    Attribute selector, pseudo-class, pseudo-element, e outros*/


 #container h1, h2 {
    width: 450px;
    color: red;
    font-size: 40px;
    background: greenyellow;
}

/*neste caso das propriedades do titulo e subtitulo, podemos agrupar os itens ou realizarmos separados...*/

Caixas

#caixas h1{
    width: 220px;
    border: 4px solid red;
    font-size: 40px
    padding: 60px;
    }

