.tabela-cabecalho {
    background-color: plum;
    text-align: center;}
.tabela-corpo {
    background-color: lavender;
    text-align: left;}

div {
    width: 100px;
    height: 100px;
    border: 1px solid crimson;
    margin: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    text-align: center;}

/*MARGIN*/
.shorthand1 {
    border: 1px solid red;
    margin: 12px 16px 10px 4px;
    text-align: center;
    display: inline;}
.shorthand2 {
    border: 1px solid red;
    margin: 16px 10px 4;
    text-align: center;
    display: inline;}
.shorthand3 {
    border: 1px solid red;
    margin: 16px 4px;
    text-align: center;
    display: inline;}
.shorthand4 {
    border: 1px solid red;
    margin: 12px;
    text-align: center;
    display: inline;}

/*PADDING*/
.shorthand5 {
    border: 1px solid teal;
    margin: 12px 16px 10px 4px;
    text-align: center;
    display: inline;
    padding: 0px 2em;}
.shorthand6 {
    border: 1px solid teal;
    margin: 12px 16px 0;
    text-align: center;
    display: inline;
    padding: 10px 2em 8px 10%;}
.shorthand7 {
    border: 1px solid teal;
    margin: 8px 16px;
    text-align: center;
    display: inline;
    padding: 20px 0;}
.shorthand8 {
    border: 1px solid teal;
    margin: 8px;
    text-align: center;
    display: inline;
    padding: 0px 2em;}

/*Bordas*/
.bordas1 {
    border-top: solid 2px;}
