* {
    margin: 0;
}
body {
    background-color: aqua;
}

#conteudo > p {
    color: yellow !important;
}

#conteudo {
    width: 50%;
    height: 25%;
    background: white;
    margin: 0 auto;
    padding: 20px;
}

.info {
    font-weight: bold;
}

h1 {
    color: red;
}

h1 {
    color: green;
}
